:root{
    --descriptionCl: #898989;
    --shopBtnCl: #E89F71;
}
.mainContent{
    padding: 3.5rem;
}
.modalContent{
    width: 31rem;
    background-color: #fff;
    opacity: 0.9;
    position: absolute;
    z-index: 10;
    top: 9rem;
    left: 6rem;
}
.title{
    font-size: 3.5rem;
    font-weight: bold;
}
.description{
    color: var(--descriptionCl);
    font-size: 1.5rem;
    line-height: 30px;
}
.shopBtn{
    background-color: var(--shopBtnCl);
    font-size: 1.2rem;
    padding: 1.5rem 9rem;
    border: none;
    color: #fff;
    text-transform: capitalize;
}
.title{
    margin: 0;
}
@media screen and (max-width: 576px){
    .mainContent{
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mainContent>h1{
        font-size: 2rem;
    }
    .mainContent>p{
        font-size: 1rem;
    }
    .shopBtn{
        padding: 0.5rem 1.5rem;
    }
    .modalContent{
        width: 100%;
        left: 25%;
        top: 10%;
        display: none;
    }
    .modalContent h1{
        font-size: 1.5rem;
    }
    .modalContent .description{
        font-size: 0.8rem;
        margin: 0.5rem 0;
    }
    .modalContent button{
        font-size: 0.8rem;
        padding: 0.25rem 1rem;
    }
}