
:root{
    --descriptionColor: #898989;
}
.content{
    margin: 0;
}
.title{

}
.iconStandard{
    margin-right: 1rem;
}
.content{
    color: var(--descriptionColor);
    font-size: 1rem;
    margin-top: 0.3rem;
}
.title{
    font-size: 1.1rem;
}
.containerCard{
    display: flex;
    flex-direction: row;
}