.navContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: #fff;
    padding-top: 0.7rem;
}
h3,h5{
    margin: 0;
}
.shoppingCart:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.listNavDirect{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    margin: 0 1rem;
    cursor: pointer;
}
.listNavDirect:hover{
    opacity: 0.7;
}
.listNavDirect h5{
    margin: 0;
    margin-right: 0.25rem,
    
}
.listContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
}

.avatarUser{
    width: 2rem;
}
.shoppingCart{
    font-size: 1.5rem;
    position: relative;
}
.favorite{
    font-size: 1.5rem;
}
.rightNav{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 6rem;
    position: relative;
}
.navRightItem{
    margin: 0 0.5rem;
}
.searchBtn{
    border: hidden;
    background-color: #fff;
    padding: 0.8rem 1rem;
}
.logo{
    font-weight: bold;
}
.searchInput{
    border: none;
    padding: 0.8rem 1rem 0.8rem 0;
    width: 25rem;
}
.searchbar{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.searchInput:focus{
    outline: none;
}
.searchBtn:hover{
    background-color: #ccc;
}



.amountItem{
    display: block;
    background-color: red;
    color: #fff;
    font-weight: 600;
    border-radius: 50%;
    width: 1.2rem;
    height: 1.2rem;
    position: absolute;
    bottom: 1.4rem;
    left: 1.4rem;
    font-size: 1rem;
    text-align: center;
}
.myInfoContainer{
    display: none;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    width: 10rem;
    font-size: 1rem;
    left: -3.5rem;
    
    background-color: #fff;
    padding: 0.5rem;
    
}
.myInfoContainerOn{
    display: flex;
    
}
.myInfoContainer>h4{
    padding: 5px;
    width: 100%;
}
.myInfoContainer>h4:hover{
    background-color: #ccc;
    cursor: pointer;
}
.avatarUser{
    position: relative;
}
.avatarUser > img:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.showNavInMobile{
    display: none;
}
.infoRightNav{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.showNavDirect{
    display: flex;
}
@media screen and (max-width: 576px) {
    .listContainer{
        display: none;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    .searchInput{
        width: 12rem;
    }
    .navContainer{
        justify-content: left;
        flex-direction: column-reverse;
        
    }
    .rightNav{
        margin-right: 0;
        margin-top: 1rem;
        justify-content: space-between;
    }
    .showNavInMobile{
        display: block;
        margin: 0 1rem;
        font-size: 1.5rem;
    }
    .listContainerShow{
        display: flex;
    }
    .navContainer{
        padding-top: 0;
    }
    
}
@media screen and (max-width: 768px) {
    
}