:root{
    --btnBuy: #E89F71;
    --delBuy: rgb(221, 42, 42);
}
.submitContainer{
    display: flex;
    flex-direction: column;
}
.controller{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.delBtn{
    padding: 0 1.5rem;
    height: 1.5rem;
    background-color: var(--delBuy);
    border-radius: 5px;
    border: none;
    color: #fff;
    font-weight: bold;
    box-shadow: 3px 3px #a52b2b;
    cursor: pointer;
}
.delBtn:hover{
    opacity: 0.8;
}
.buyBtn{
    padding: 0 2rem;
    height: 2rem;
    background-color: var(--btnBuy);
    border-radius: 5px;
    border: none;
    color: #fff;
    font-weight: bold;
    box-shadow: 3px 3px #be825d;
    cursor: pointer;
}
.buyBtn:hover{
    transform: scale(1.1);
}
.shoppingCart{
    position: absolute;
    background-color: #fff;
    top: 5rem;
    right: 0;
    width: 20rem;
    padding: 2rem 1rem;
    box-shadow: 5px 7px 3px #efefef;
    display: none;
}
.shoppingCartOn{
    display: block;
}
.totalBill{
    font-size: 1.2rem;
    margin-top: 1rem;
    
}

@media screen and (max-width: 576px) {
    .shoppingCart{
        right: 1rem;
        left: 1rem;
    }
}
